* {
  border: solid;
  /* overflow-wrap: break-word; */
  /* word-break: break-word; */
  overflow-wrap: anywhere;
}
body {
  background-color: black;
  color: white;
}
.topbar {
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.sidebar {
  /* flex-basis: 100px; */
  width: 200px;
}
.sidebar a {
  display: block;
}
.content {
  width: 500px;
}
