* {
  border: solid;
}
body {
  background-color: black;
  color: white;
}
.topbar {
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.sidebar {
  flex-basis: 100px;
}
.sidebar a {
  display: block;
}
.content {
  flex-basis: 100px;
}
